<%- include('header') -%>

  <h1 style="color: cornflowerblue;">Welcome to the TodoList website!</h1>
  <p>A simple and efficient web app designed to help you manage your tasks and stay organized.</p>
  <p>Created by Dheeraj Barman, TodoList offers a seamless experience for managing your daily tasks. Whether you're a student, a professional, or just someone looking to stay organized, TodoList has got you covered.</p>
  <p>Powered by popular web technologies such as Express, EJS, and body-parser, TodoList delivers a smooth and responsive user interface. Express provides a robust foundation for the web app, allowing for efficient routing and handling of requests. EJS offers a powerful templating engine, enabling dynamic content generation. Meanwhile, body-parser simplifies the handling of incoming request data.</p>
  <p>Stay on top of your priorities with TodoList's intuitive features. Add new tasks, mark them as complete, or edit existing ones effortlessly. The clean and minimalist design ensures a distraction-free experience, allowing you to focus on what matters most.</p>
  <p>Whether you're managing personal projects, planning your day, or collaborating with a team, TodoList is here to make your life easier. Start using TodoList today and take control of your to-do list like never before!</p>
  <p class="author">Author: Dheeraj Barman</p>
  <%- include('footer') -%>

